name: Publish Pipedream Action
on:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Install Pipedream CLI
        run: curl https://cli.pipedream.com/install | sh

      - name: Configure Pipedream CLI
        run: |
          mkdir -p $HOME/.config/pipedream
          echo "api_key = ${{ secrets.PIPEDREAM_API_KEY }}" > $HOME/.config/pipedream/config
          echo "org_id = ${{ secrets.PIPEDREAM_WORKSPACE_ID }}" >> $HOME/.config/pipedream/config

      - name: Publish Action to Pipedream
        run: |
          changed_files=$(git diff --name-only origin/${{ github.base_ref }}...HEAD | grep '\.js$')
          echo $changed_files
          # for file in $changed_files; do
          #   git publish $file
          # done
