name: Publish Pipedream Action
on:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Pipedream CLI
        run: curl https://cli.pipedream.com/install | sh

      - name: Configure Pipedream CLI
        run: |
          mkdir -p $HOME/.config/pipedream
          echo "api_key = ${{ secrets.PIPEDREAM_API_KEY }}" > $HOME/.config/pipedream/config
          echo "org_id = ${{ secrets.PIPEDREAM_WORKSPACE_ID }}" >> $HOME/.config/pipedream/config

      - name: Publish Action to Pipedream
        run: |
          changed_files=$(git diff --name-only ${{ github.event.before }} ${{ github.event.after }} | grep '\.js$')
          for file in $changed_files; do
            pd publish $file
          done
